# Production - Neon PostgreSQL (Ganti dengan URL Anda dari Neon)
# Dapatkan gratis di: https://neon.tech
DATABASE_URL="postgresql://username:password@ep-xxx.region.aws.neon.tech/dbname?sslmode=require"
DIRECT_URL="postgresql://username:password@ep-xxx.region.aws.neon.tech/dbname?sslmode=require"
